{{ define "main" }}
	<h1>{{ .Title }}</h1>
	{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
	{{ $dateHuman := .Date | time.Format ":date_long" }}
	<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
	
	{{ $main_img := .Page.Resources.Get "main.png" }}
	{{ with $main_img }}
		<img class="bigimage" src="{{.RelPermalink}}" />
	{{ end }}

	{{partial "content.html" . }}
	{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

	{{ $screens := .Page.Resources.Match "screens/*.png" }}
	{{with $screens}}
		<div class="screenshots">
			{{ range . }}
				<details class="details-lightbox screenshot" aria-label="larger image">
					<summary>
						<img src="{{.RelPermalink}}" width="50" alt="Alt text for the thumbnail image.">
					</summary>
					<div>
						<img src="{{.RelPermalink}}" alt="Larger image: alt text for the full image." loading="lazy">
					</div>
				</details>
			{{ end }}
		</div>
	{{ end}}

	{{ with .Params.links}}
		<div class="projectlinks">
			{{with .play}}
				<a href="{{$.Site.BaseURL}}play/{{.}}"><i class="fa fa-gamepad"></i> play now</a>
			{{end}}
			{{with .windows}}
				<a href="{{.}}"><i class="fa fa-windows"></i> windows</a>
			{{end}}
			{{with .github}}
				<a href="{{.}}"><i class="fa fa-github"></i> source</a>
			{{end}}
			{{with .youtube}}
				{{range .}}
					<a href="{{.link}}"><i class="fa fa-youtube-play"></i> {{.title}}</a>
				{{end}}
			{{end}}
		</div>
	{{ end }}



	<p>
		{{ with .NextInSection }}
			<a href="{{ .RelPermalink }}" class="prev button enabled">&laquo; Previous</a>
		{{ else }}
			<a class="prev button disabled">&laquo; Previous</a>
		{{ end }}

		{{ with .PrevInSection }}
			<a href="{{ .RelPermalink }}" class="next button enabled">Next &raquo;</a>
		{{ else }}
			<a class="next button disabled">Next &raquo;</a>
		{{ end }}
	</p>

	{{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
{{ end }}
