@media print {
    :root {
        --emph: #000;
        --text: #000;
        --comments: #000;
        --background-hi: #fff;
        --background: #fff;

        --yellow:    #000;
        --orange:    #000;
        --red:       #000;
        --magenta:   #000;
        --violet:    #000;
        --blue:      #000;
        --cyan:      #000;
        --green:     #000;
    }
}

@media print {

    a:link {
        color: #0000cc;
        text-decoration: underline;
    }
    a:visited {
        color: #0000cc;
        text-decoration: underline;
    }

    body, div#content, p {
        font-family: Georgia, Times, serif;
        font-size: 12pt;
    }

    div#content {
        max-width: 100%;
        margin: auto;
        position: inherit;
        display: inherit;
        padding-top: inherit;
        padding-bottom: inherit;
    }

    blockquote {
        border: none;
    }

    header#header { display: none }
    footer { display: none }
}

